<ion-header [translucent]="true">
  <ion-toolbar>
    <h6 style="text-align: center;">My profile</h6>
      <ion-avatar>
        <img src="https://i.pinimg.com/originals/0b/a3/77/0ba377cf0a8d0eb5f4fee0c52ff575ab.jpg">
      </ion-avatar>
      <h5>Eriek Pawirodinomo</h5>
      <div class="sub">
        <p>Follow me on fb:</p>
        <a href="https://www.facebook.com">https://www.facebook.com</a>
      </div>
  
      <div class="scores">
        <ul>
          <li>
            <h4>213</h4>
            <p>Post</p>
          </li>
          <li>
            <h4>18k</h4>
            <p>Followers</p>
          </li>
          <li>
            <h4>1.3k</h4>
            <p>Following</p>
          </li>
        </ul>
      </div>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    
    <ion-fab vertical="center" horizontal="end" slot="fixed">
      <ion-fab-button>
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    <div class="container">

    <div class="image-layout">
      
          <div class="img"><img src="https://m.media-amazon.com/images/M/MV5BNjRlYjgwMWMtNDFmMy00OWQ0LWFhMTMtNWE3MTU4ZjQ3MjgyXkEyXkFqcGdeQXVyNzU1NzE3NTg@._V1_CR0,45,480,270_AL_UX477_CR0,0,477,268_AL_.jpg" alt=""></div>
          <div class="img"><img src="https://ichef.bbci.co.uk/images/ic/624x351/p08rkqxl.jpg" alt=""></div>
          <div class="img"><img src="https://i.redd.it/ndcufi2r72741.jpg" alt=""></div>
  
    </div>
    
    <div class="image-layout">
      
      <div class="img"><img src="https://m.media-amazon.com/images/M/MV5BNjRlYjgwMWMtNDFmMy00OWQ0LWFhMTMtNWE3MTU4ZjQ3MjgyXkEyXkFqcGdeQXVyNzU1NzE3NTg@._V1_CR0,45,480,270_AL_UX477_CR0,0,477,268_AL_.jpg" alt=""></div>
      <div class="img"><img src="https://ichef.bbci.co.uk/images/ic/624x351/p08rkqxl.jpg" alt=""></div>
      <div class="img"><img src="https://i.redd.it/ndcufi2r72741.jpg" alt=""></div>

</div>
<div class="image-layout">
      
  <div class="img"><img src="https://m.media-amazon.com/images/M/MV5BNjRlYjgwMWMtNDFmMy00OWQ0LWFhMTMtNWE3MTU4ZjQ3MjgyXkEyXkFqcGdeQXVyNzU1NzE3NTg@._V1_CR0,45,480,270_AL_UX477_CR0,0,477,268_AL_.jpg" alt=""></div>
  <div class="img"><img src="https://ichef.bbci.co.uk/images/ic/624x351/p08rkqxl.jpg" alt=""></div>
  <div class="img"><img src="https://i.redd.it/ndcufi2r72741.jpg" alt=""></div>

</div>

<div class="image-layout">
      
  <div class="img"><img src="https://m.media-amazon.com/images/M/MV5BNjRlYjgwMWMtNDFmMy00OWQ0LWFhMTMtNWE3MTU4ZjQ3MjgyXkEyXkFqcGdeQXVyNzU1NzE3NTg@._V1_CR0,45,480,270_AL_UX477_CR0,0,477,268_AL_.jpg" alt=""></div>
  <div class="img"><img src="https://ichef.bbci.co.uk/images/ic/624x351/p08rkqxl.jpg" alt=""></div>
  <div class="img"><img src="https://i.redd.it/ndcufi2r72741.jpg" alt=""></div>

</div>
<div class="image-layout">
      
  <div class="img"><img src="https://m.media-amazon.com/images/M/MV5BNjRlYjgwMWMtNDFmMy00OWQ0LWFhMTMtNWE3MTU4ZjQ3MjgyXkEyXkFqcGdeQXVyNzU1NzE3NTg@._V1_CR0,45,480,270_AL_UX477_CR0,0,477,268_AL_.jpg" alt=""></div>
  <div class="img"><img src="https://ichef.bbci.co.uk/images/ic/624x351/p08rkqxl.jpg" alt=""></div>
  <div class="img"><img src="https://i.redd.it/ndcufi2r72741.jpg" alt=""></div>

</div>
</div>

  </ion-content>
  

