
ion-avatar{
    display: block; 
    margin-left: auto; 
    margin-right: auto;
}
h5{
    text-align: center;
    color: lightseagreen;
}
.sub{
    text-align: center;
    display: block; 
}
.scores{
    text-align: center;
    color: lightseagreen;
    margin-left: 12%;;
}
ul{
    display: inline;
    margin: 5px;
    padding: 5px;
    list-style-type: none;
}
li{
    float: left;
    margin: 20px;
}
p{
    color: lightslategray;
}
.header-inline{
    display: block;
}