<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="header-inline">
      <ion-icon name="camera-outline"></ion-icon>
      <ion-title >Instabob</ion-title>
      <ion-icon name="mail-outline" style="float: right;"></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <h1>Hello world</h1>
    <p>I'm trying to build with ionic framework.</p>
    <p>Please help or work with me</p>
  </ion-card>
    
    <ion-fab vertical="center" horizontal="end" slot="fixed">
      <ion-fab-button>
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>

  </ion-content>
  

